.input {
    padding: 13px 19.5px;
    border: 1px solid var(--color-light-gray);
    border-radius: 4px;
    font-size: 16px;
    line-height: var(--line-height-main);
    font-weight: var(--font-weight-regular);
    margin-bottom: 34px;
}

.error-message {
    color: var(--error-color);
    font-size: 14px;
    padding: 4px;
    display: block;
}

.input-error {
    border-color: var(--error-color);
}