.main-button {
    color: var(--color-white);
    background-color: var(--primary-blue);
    border: none;
    padding: 13px;
    border-radius: 4px;
    cursor: pointer;
    font-size: var(--font-size-main);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-main);
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.main-button:hover {
    opacity: 0.8;
}