.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px;
    background-color: var(--color-white);
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    height: 80px;
    box-shadow: var(--shadow);
}

.login-button {
    width: 10%;
}