.create-course-container {
    max-width: 1104px;
    width: 100%;
    margin: 0 auto;
}

.create-course-title {
    margin-bottom: 45px;
    line-height: var(--line-height-small);
    font-weight: var(--font-weight-bold);
    font-size: 32px;
}

.create-course-fieldset {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    width: 100%;
    height: 825px;
    padding: 42px 80px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--color-white);
}

/* .create-course-content {
    width: 100%;
    height: 100%;

} */

.create-course-buttons-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 5%;
    margin-top: 32px;
}

.create-course-button {
    padding: 13px 29px;
}

.cancel-button {
    padding: 13px 61px;
}