.login-container {
    max-width: 585px;
    width: 100%;
    margin: 0 auto;

}

.login-fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 558px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--color-white);
}

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 286px;
    gap: 20px;
}
.login-title {
    text-align: center;
    width: 100%;
    margin-bottom: 36px;
    line-height: var(--line-height-small);
    font-weight: var(--font-weight-bold);
    font-size: 32px;
}

.login-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-label {
    font-weight: var(--font-weight-bold);
}

.form-login-button {
    width: 100%;
}

.login-paragraph {
    text-align: center;
}

.login-link {
    font-weight: var(--font-weight-bold);
    text-decoration:none;
    cursor: pointer;
}