.search-bar-container {
    width: 50%;
    display: flex;
    gap: 16px;
    align-items: center; 
}
.search-bar-button {
    padding: 13px 43px;
}

.search-bar-input {
    width: 100%;
    padding: 13px 19.5px;
    border: 1px solid var(--color-light-gray);
    border-radius: 4px;
    font-size: 16px;
    line-height: var(--line-height-main);
    font-weight: var(--font-weight-regular);
    color: var(--color-light-gray);
}