.empty-course-list {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh; 
}

.empty-course-list-content {
    text-align: center;
}

.empty-course-list-title {
    font-size: 32px;
    line-height: var(--line-height-small);
    font-weight: var(--font-weight-bold);
    margin-bottom: 24px;
}

.empty-course-list-description {
    font-size: 16px;
    line-height: var(--line-height-small);
    margin-bottom: 40px;
}